<div class="jumbotron">
    <h1>The Near East Bureau</h1>
    <h3>An interactive news aggregator for current events in Iraq</h3>
    <button class="btn btn-primary" id="scrape-articles">Get Articles</button>
</div>